/* src/components/Navbar.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #b7001c;
  color: white;
  padding: 10px;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.school-logo {
  width: 120px;
  height: auto;
  margin-right: 15px;
}

.school-info h1 {
    display: flex;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.school-info p {
  margin: 3px 0;
  font-size: 14px;
  align-items: center;
  position: relative;
  left: -60px;
}
.school-info {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

.affiliation {
  background-color: #e4001c;
  padding: 2px 5px;
  display: inline-block;
  margin: 4px 0;
  font-weight: bold;
}

.contact-info {
  font-size: 13px;
  margin-top: 5px;
}

.top-bar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 8px;
}

.follow-us .icons i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.btn.yellow {
  background-color: #ffd700;
  color: red;
}

.btn.red {
  background-color: #ff0000;
  color: white;
}

.main-navbar {
  background-color: #830014;
  padding: 10px 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  transition: background 0.3s;
}

.navbar-links li a:hover {
  background-color: #e4001c;
}
